body{
    text-align: center;
}

/* -------------EJERCICIO COMPLETO---------------------*/
#website *{
    margin: 0px;
    padding: 0px;
}
#website{

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 150px 70px 1fr 70px;
    
    
    
    width: 75%;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #ccc;

}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    


    grid-column: 1 / 6;
    background: pink;
    color: whitesmoke;
}

#menu{
    grid-column: 1 / 6;
    background: lightcoral;
    color: black;

    
    line-height: 70px;
}

#menu ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
}

#contenido{
    grid-column: 1 / 5;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:25px;
    padding: 10px;
    background: #eee;
}

#contenido article{
    background: #ccc;
    border: 1px solid #555;
}

#lateral{
    grid-column: 5 / 6;
    background: orange;
    color: white;
}

#pie-pagina{
    grid-column: 1 / 6;
    background-color: black;
    color: whitesmoke;
}


/* -------------EJEMPLOS---------------------*/

.layout{

    width: 80%;
    height: 600px;
    margin: 0px auto;
    /*Definir grid layout*/ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 3fr repeat(2, 1fr);
    /*Espacio entre elementos*/
    grid-gap: 10px;

    padding: 10px;


    border: 3px solid orangered;
    
}

.layout .caja{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    padding: 20px;
    border: 4px solid #222;
    background: blueviolet;
}

.layout .red{

    grid-column-start: 1;
    grid-column-end: 4;
    background: red;
}

.layout .blue{
    grid-column: 2 / 4;
    background: blue;
}

.layout .green{
    grid-row-start: 2;
    grid-row-end: 6;
    background: green;
}

.layout .pink{
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background: pink;
}

.layout .black{
    background: black;
    grid-row: 3 / 5;
}

.layout .orange{
    grid-column: 2/ 4;
    background: orange;
}

